@import "../../utils/variables";

.gg-tile {
	box-sizing: border-box;
	height: $tileSize;
	width: $tileSize;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;

	&.dark {
		background: rgba(139, 139, 139, 0.2);
	}

	&.light {
		background: rgba(255, 255, 255, 0.888);
	}

	&.borderRadius-topLeft {
		border-radius: $borderRadius 0 0 0;
	}
	&.borderRadius-topRight {
		border-radius: 0 $borderRadius 0 0;
	}
	&.borderRadius-botLeft {
		border-radius: 0 0 0 $borderRadius;
	}
	&.borderRadius-botRight {
		border-radius: 0 0 $borderRadius 0;
	}

	// TODO: Remove this when pieces are integrated
	&:hover {
		cursor: pointer;
	}
}
